# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Build output directories (ignore in any folder)
**/build/
**/ios/Flutter/.last_build_id
**/doc/api/

# Firebase config files — DO NOT COMMIT THESE
**/google-services.json
**/GoogleService-Info.plist
**/firebase_options.dart

# Android Studio specific
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release

# Obfuscation/symbolication
app.*.map.json
app.*.symbols

# Mac/iOS-specific
ios/Pods/
macos/Pods/
